body {
  /* background-color: #023047; */
  /* color: aliceblue; */
  /* font-family: "Roobert"; */
  color: aliceblue;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.d-flex {
  display: flex;
  text-align: center;
}
.w-80 {
  width: 80%;
  margin: auto;
}

.center-col {
  flex: 0.6 1;
}
